<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>sonatype-central-portal</id>
            <username>${env.SONATYPE_CENTRAL_PORTAL_REPO_USERNAME}</username>
            <password>${env.SONATYPE_CENTRAL_PORTAL_REPO_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>gpg</id>
            <properties>
                <gpg.keyname>test-key@postgis.net</gpg.keyname>
            </properties>
        </profile>
        <profile>
            <id>sonatype-central-snapshots</id>
            <repositories>
                <repository>
                    <id>sonatype-central-snapshots</id>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <name>sonatype-central-snapshots</name>
                    <url>https://central.sonatype.com/service/rest/repository/browse/maven-snapshots/snapshots/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
