<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PostGIS JDBC Extensions Java2D Test Suite" verbose="1">

    <test name="PostGIS JDBC Java2D Tests">
        <classes>
            <class name="net.postgis.java2d.SimpleJava2DWrapperTest"/>
        </classes>
    </test>

</suite>