<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JTS Parser Test Suite" verbose="1">

    <parameter name="testWithDatabaseSystemProperty" value="testWithDatabase"/>
    <parameter name="jdbcDriverClassNameSystemProperty" value="jdbcDriverClassName"/>
    <parameter name="jdbcUrlSystemProperty" value="jdbcUrl"/>
    <parameter name="jdbcUsernameSystemProperty" value="jdbcUsername"/>
    <parameter name="jdbcPasswordSystemProperty" value="jdbcPassword"/>

    <test name="JTS Parser Tests">
        <classes>
            <class name="org.postgis.jts.JtsParserTest"/>
        </classes>
    </test>

</suite>